@charset "utf-8";

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	color: #FFFFFF;
}

h1 {
	font-size: 26px;
}
h3 {
	margin: 5px 0 0 0;
	font-size: 15px;
}
p {
	font-size: 13px;;
}
.deleteline {
	text-decoration: line-through;
}

.study-label {
	display: inline-block;
    margin: 10px 0 0 10px;
	padding: 0 7px 0 7px;
	height: 17px;
	background: #5bc0de;
	font-size: 12px;
	line-height: 17px;
	border-radius: 10%;
}
.label-mute {
	background: #3498db;
}
.label-mute2 {
	background: #2a7da9;
}
.title {
	margin-bottom: 60px;
}
.show-xs {
	display: block;
	margin: 5px 0 0 0;
}
.an-left {
	margin-left: 115%;
}
.an-right {
	margin-right: 115%;
}
.an-up {
	margin-bottom: 115%;
}
.an-down {
	margin-top: 115%;
}
.an-hide {
	opacity: 0;
}
/*动画样式*/
@keyframes shadow
{
	from {box-shadow: none;}
	to {box-shadow: 0 2px 2px 0 rgba(0,0,0,.22),1px 2px 2px 0 rgba(0,0,0,.21);}
}
@keyframes shadow-hide
{
	from {box-shadow: 0 2px 2px 0 rgba(0,0,0,.22),1px 2px 2px 0 rgba(0,0,0,.21);}
	to {box-shadow: none;}
}
/*页面样式*/

.page1 h1, .page1 h3, .page1 p{
	/*display: none;*/
	margin-top: 100%;
}
.page1 p {
	margin: 0;
	color: #bcf1f8;
}
.page1 .page1-title {
    margin: 5px 0 5px 0;;	
}
.page1 .logo {
	border-radius: 50%;
	width: 40%;
}

.model {
	position: absolute;
	top: 30%;
	left: 0%;
	width: 100%;
	min-width: 350px;
	overflow: hidden;
	padding: 40px;;
	background: #EEEEEE;
	box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
	display: none;
}
.model .model-title {
	margin: 0 0 20px 20px;
	color: #666666;
	font-size: 26px;
}
.model ul {
	list-style: none; 
	color: #36b5c5;
	font-size: 16px;
}
.model ul li{
	margin: 10px 0 0 0;
	display: none;
}
#page1-model {
	margin: 40px 0 0 0;
	width: 30%;
	background: #4dd0e1;
	border: none;
	outline: none;
	
	animation: shadow-hide 0.5s 1;
	animation-fill-mode:forwards; 
}
#page1-model:hover {
	animation: shadow 0.5s 1;
	animation-fill-mode:forwards; 
}

.page2 h3 {
	color: #aee2d9;
}
.page2 .page-title {
	margin-bottom: 30px;
}

.skill ul {
	padding: 0;
	list-style: none; 
	text-align: left;
}

.skill h4 {
	height: 40px;
	width: 5%;
	line-height: 40px;
	padding-left: 5px;
	overflow: hidden;
}
.skill-tech-1 {
	background-color: #d6efff;
    border-left: 3px solid #3498db;
    color: #2a7da9;
}
.skill-tech-2 {
	background-color: #eaf6d0;
    border-left: 3px solid #80bd01;
    color: #6e9c0f;
}
.skill-tech-3 {
	background-color: #fff6dd;
    border-left: 3px solid #fdbc40;
    color: #ff742a;
}

.skycol {
	position: absolute;
	top: 0%;
	left: 50%;
	width: 2px;
	height: 0%;
	background: #FFFFFF;
}
.page3 p{

}
.page3 .page-title h3{
	color: #C1DEDE;
}
.page3 .page3-time {
	margin: 0;
	color: #C1DEDE;
}

.page3-tab {
	width: 45%;
	padding: 10px;
	color: #fff;
	animation: shadow-hide 0.2s 1;
	animation-fill-mode:forwards; 
}
.page3-tab:hover {
	animation: shadow 0.2s 1;
	animation-fill-mode:forwards; 
}

.page4 p{
    color: #F2CED3;
}
.page4 .page-title {
	margin-bottom: 60px;
}
.page4 .page-title h3{
	color: #F2CED3;
}
.page4 img {
	border-radius: 50%;
}

.pro {
	margin-bottom: 20px;
	border: 1px solid #ffffff;
	border-left: none;
	border-right: none;
	animation: shadow-hide 0.2s 1;
	animation-fill-mode:forwards; 
}
.pro:hover {
	animation: shadow 0.2s 1;
	animation-fill-mode:forwards; 
}

.pro-img {
	padding: 5px 0 0 5px;
}
.pro h3 {
	text-align: left;
}
.page5 .page-title {
	margin-bottom: 60px;;
}
.page5 .page-title h3{
	color: #C1EDF2;
}
.study {
	text-align: center;
}

.page6 {
	color: #FFFFFF;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
h1 {
	font-size: 34px;
}
h3 {
	margin: 8px 0 8px 0;
	font-size: 24px;
}
p {
	font-size: 18px;;
}
.page1 .logo {
	width: auto;
}
.study-label {
    /*margin: 10px 0 0 10px;*/
	padding: 0 15px 0 15px;
	height: 25px;
	background: #5bc0de;
	font-size: 18px;
	line-height: 25px;
	border-radius: 10%;
}
.page3-tab {
	padding: 15px;
}
.label-mute {
	background: #3498db;
}
.label-mute2 {
	background: #2a7da9;
}
.style {
	text-align: center;
}
.show-xs {
	display: none;
}
.pro {
	border: 1px solid #ffffff;
}
.pro-img {
	padding: 10px 0 0 0;
	margin: 0 0 0 10px;
}
/*弹窗效果*/
.model {
	left: 25%;
	width: 50%;
}

}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
h1 {
	font-size: 34px;
}
h3 {
	font-size: 24px;
}
p {
	font-size: 18px;;
}
.page3-tab {
	padding: 20px;
}
.pro {
	margin-bottom: 10px;
}
.pro-img {
	padding: 10px 0 0 0;
	margin: 0 0 0 10px;
}
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
h1 {
	font-size: 36px;
}
h3 {
	font-size: 26px;
}
p {
	font-size: 20px;;
}
.page3-tab {
	padding: 20px;
}
.pro {
	margin-bottom: 20px;;
}
.pro-img {
	padding: 15px 0 0 0px;
	margin: 0 0 0 15px;
}
}